<h1>Mortgage Calculator</h1>


<form>
	<label for="principal">Loan Amount:</label><br>
	<input type="text" id="principal" name="principal" value="<%= principal %>"><br>


	<label for="loan_term">Loan Term:</label><br>
	<input type="text" id="loan_term" name="loan_term" value="<%= loan_term %>"><br>

	<label for="interest">Interest Rate:</label><br>
	<input type="text" id="interest" name="interest" value="<%= interest %>"><br>

	<input type="submit" id="mortgage_calc">
</form>

<form>
	<label for="income">Annual Income:</label><br>
	<input type="text" id="income" name="income" value="<%= income %>"><br>


	<label for="monthly_debts">Monthly Debts:</label><br>
	<input type="text" id="monthly_debts" name="monthly_debts" value="<%= monthly_debts %>"><br>

	<label for="down_payment">Down Payment:</label><br>
	<input type="text" id="down_payment" name="down_payment" value="<%= down_payment %>"><br>

	<input type="submit" id="affordability_calc">
</form>


